@import "tailwindcss";
h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-decoration: underline;
    font-size: 100px;
    font-weight: bold;
    white-space: nowrap;
}